<div class="main-height" >
  <div class="container">
    <div *ngIf="isAuth" [ngClass]="{'ma': empresa == 1, 'bb': empresa == 2}">
      <h1 [ngClass]="{'title-primary-1': empresa == 1, 'title-primary-2': empresa == 2}">COMUNICAÇÃO DE SINISTRO</h1>
      <hr [ngClass]="{'hr-line-1': empresa == 1, 'hr-line-2': empresa == 2}">
      <div class="info-segurado">
        <div class="box">
          <p>Nome do Segurado</p>
          <p><strong>{{segurado.nome}}</strong></p>
        </div>
        <div class="box">
          <p>CPF do Segurado</p>
          <p><strong>{{segurado.cpf}}</strong></p>
        </div>
      </div>
    </div>
    <div *ngIf="isAuth === false">
      <h1 class="title-primary-1">Atenção</h1>
      <hr class="hr-line">

      <p class="subtitle">Usuario não existe</p>
    </div>
  </div>
</div>