/* You can add global styles to this file, and also import other style files */


html, body {height: 100%;}
.main-height {margin-top: 50px; min-height: calc(100% - 167px);}

.hr-line {width: 100px; background: #4A4A4A; margin: 0 auto; height: 2px; margin-bottom: 30px;}

.title-primary-1 {font-size: 28px; color: #4A4A4A; letter-spacing: 0; font-weight: bold; text-align: center; text-transform: uppercase; }
.hr-line-1 {width: 100px; background: green; margin: 0 auto; height: 2px; margin-bottom: 30px;}

.title-primary-2 {font-size: 28px; color: #4A4A4A; letter-spacing: 0; font-weight: bold; text-align: center; text-transform: uppercase; }
.hr-line-2 {width: 100px; background: orangered; margin: 0 auto; height: 2px; margin-bottom: 30px;}
