/* You can add global styles to this file, and also import other style files */


html, body {height: 100%;}

.title-primary {font-size: 28px; color: #4A4A4A; letter-spacing: 0; font-weight: bold; text-align: center; }
.hr_line {width: 100px; background: green; margin: 0 auto; height: 2px; margin-bottom: 30px;}
