<div class="main-height">
  <div class="container">
    <h1 class="title-primary-1">SELEÇÃO DE FLUXO DE USUÁRIO</h1>
    <hr class="hr-line-1">

    <div class="boxs"> 
      <div class="box-user">
        <a [routerLink]="['/main/segurado-a']">Segurado 1</a>
      </div>
      <div class="box-user">
        <a [routerLink]="['/main/segurado-b']">Segurado 2</a>
      </div>
      <div class="box-user">
        <a [routerLink]="['/main/corretor']">Corretor</a>
      </div>
      <div class="box-user">
        <a [routerLink]="['/main/callcenter']">Callcenter</a>
      </div>
    </div>
  </div>
</div>
