<div class="main-height">
  <div class="container">
    <div *ngIf="idAuth">
      <h1 class="title-primary-1">COMUNICAÇÃO DE SINISTRO</h1>
      <hr [ngClass]="{'hr-line-1': tipoSeguradora == 1, 'hr-line-2': tipoSeguradora == 2, 'hr-line': !tipoSeguradora}">

      <p class="subtitle">Seja bem vindo, atendente GoHorse <strong>{{atendente.nome}},</strong> informe os dados do segurado.</p>

      <form [formGroup]="formCallCenter" class="form-inline">
        <p>Informeos dados do segurado:</p>
        <div class="form-group">
          <div class="radios">
            <label class="radio-inline">
            <input type="radio" formControlName="seguradora" name="seguradora" value="1" (click)="setSeguradora(2)">
              GoHorseAmarelo
            </label>
            <label class="radio-inline">
            <input type="radio" formControlName="seguradora" name="seguradora" value="2" (click)="setSeguradora(1)">
              GoHorseVermelho
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="cpfSegurado">CPF</label>
          <input type="text" class="form-control" id="cpfSegurado" formControlName="cpf" disabled="!tipoSeguradora">
        </div>
        <div class="btns" *ngIf="tipoSeguradora">
          <button type="button" class="btn btn-default cancel">cancelar</button>
          <button type="button" class="btn btn-default confirm" (click)="getSegurado()">continuar</button>
        </div>
      </form>
    </div>
    <div *ngIf="idAuth == false">
      <h1 class="title-primary-1">COMUNICAÇÃO DE SINISTRO</h1>
      <hr class="hr-line-1">

      <p class="subtitle">Operador de Call Center não existe</p>
    </div>
  </div>
</div>



