<div class="main-height">
  <div class="container">
    <div *ngIf="idAuth">
      <h1 class="title-primary-1">COMUNICAÇÃO DE SINISTRO</h1>
      <hr class="hr-line-1">

      <p class="subtitle">Seja bem vindo, atendente GoHorse <strong>{{atendente}},</strong> informe os dados do segurado.</p>

      <form [formGroup]="formCallCenter" class="form-inline">
        <div class="form-group">
          <div class="radios">
            <label class="radio-inline">
            <input type="radio" (click)="cor = 'blue'" formControlName="radio1">
              Azul
            </label>
            <label class="radio-inline">
            <input type="radio" (click)="cor = 'red'" formControlName="radio2">
              Vermelho
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="cpfSegurado">CPF do Segurado</label>
          <input type="number" class="form-control" id="cpfSegurado" formControlName="cpf">
          <button type="button" class="btn btn-default cancel">cancelar</button>
          <button type="button" class="btn btn-default confirm" (click)="getSegurado()">continuar</button>
        </div>
      </form>
    </div>
    <div *ngIf="idAuth == false">
      <h1 class="title-primary-1">COMUNICAÇÃO DE SINISTRO</h1>
      <hr class="hr-line-1">

      <p class="subtitle">Operador de Call Center não existe</p>
    </div>
  </div>
</div>



